{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    <div class="col-md-6 logo-container">
        <div id="logo"></div>
    </div>
    <div class="col-md-6 signin-container">
        <div class="signin-control">
            <div class="welcome-message">
                <h1>Welcome</h1>
                <p>Keeping track of our expenses in relation with our friends and families has been a constant challenge for every Filipinos nowadays. More than anything, we would want to ensure that we get the best out of our spending. We are here to help you treasure what you value most.</p>
            </div>
            <div class="signin-form">
                <form action="{{ path('login') }}" method="post" id="signin">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Username"/>
                    <input type="password" id="password" name="_password" placeholder="Password"/>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <input type="submit" class="btn btn-dark" value="Log In">
                </form>
            </div>
            <div class="signin-auth">
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" class="btn btn-lg btn-danger">
                    <span class="bi bi-google"></span> Login with Google
                </a>
            </div>
        </div>
    </div>
{% endblock %}