.logo {
    width: 300px;
}

.p-2 {
    padding: 0.5rem !important;
}

.justify-content-center {
    justify-content: center !important;
}

.d-flex {
    display: flex !important;
}

.display-4 {
    font-size: 3.5rem;
}

.display-4 {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

hr:not([size]) {
    height: 1px;
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

hr {
    margin: 1rem 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

.btn-dark {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}