.logo-container, .signin-container {
    height: 100%;
    float: left;
}

#logo {
    background-image: url("../images/logo.png");
    width: 526px;
    height: 165px;
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%)
}

.signin-container {
    background-color: #CCF3CF75;
}

.signin-control {
    width: 70%;
    margin: auto;
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%)
}

.welcome-message {
    font-weight: lighter;
}

.welcome-message h1 {
    font-size: 5rem;
    font-weight: bolder;
}

#signin {
    display: inline-flex;
    margin-top: 20px;
    width: 100%;
}

#signin input[type=text], #signin input[type=password] {
    border: solid black 1px;
    background: transparent;
    margin-right: 1%;
    width: 39%;
    padding: 5px 0px 10px 10px;
}

#signin input[type=submit] {
    width: 20%;
}