{% extends 'base.html.twig' %}

{% block title %}Edit Loan{% endblock %}

{% block body %}
    <h1>Edit Loan</h1>

    {{ include('loan/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_loan_index') }}">back to list</a>

    {{ include('loan/_delete_form.html.twig') }}
{% endblock %}
