<nav id="nav">
    <ul class="links">
        <li class="{{ 'app_web_config' in app.request.attributes.get('_route')? 'active': null}}"><a href="/">Terms and Conditions</a></li>
        <li class="{{ 'app_category' in app.request.attributes.get('_route')? 'active': null}}"><a href="/category">Expense Categories</a></li>
        <li><a href="/logout">[{{ app.user.nickname }}] Logout</a></li>
    </ul>
</nav>
