<nav class="navbar">
  <a class="navbar-brand" href="/"></a>
  <form class="form-inline">
    <span class="navbar-text">Hi, {{ app.user.nickname }}!</span>
    <a href="/logout" class="btn btn-dark btn-sm">Logout <i class="bi bi-box-arrow-right"></i></a>
  </form>
</nav>