{% block stylesheets %}
    <link href="{{ asset('build/styles/header.css') }}" rel="stylesheet"/>
{% endblock %}

<nav class="navbar">
  <a class="navbar-brand" style="background-image: url({{ asset('build/images/logo.png') }})" href="/"></a>
  <form class="form-inline">
    <span class="navbar-text">Hi, {{ app.user.email }}!</span>
    <a href="/logout" class="btn btn-dark btn-sm">Logout <i class="bi bi-box-arrow-right"></i></a>
  </form>
</nav>