{% extends 'base.html.twig' %}

{% block title %}Edit Connection{% endblock %}

{% block body %}
    <h1>Edit Connection</h1>

    {{ include('connection/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_connection_index') }}">back to list</a>

    {{ include('connection/_delete_form.html.twig') }}
{% endblock %}
