{% extends 'base.html.twig' %}

{% block title %}Edit Settlement{% endblock %}

{% block body %}
    <h1>Edit Settlement</h1>

    {{ include('settlement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_settlement_index') }}">back to list</a>

    {{ include('settlement/_delete_form.html.twig') }}
{% endblock %}
