{% apply inky_to_html|inline_css(source('@styles/email-template-verify-email.css')) %}
<style>
    .verify-email-container {
        padding: 15px;
        border-radius: 20px;
    }

    .btn {
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
</style>
<container>
    <img src="{{ email.image('@images/logo.png') }}" class="logo" />
    <div class="d-flex justify-content-center p-2">
        <div class="jumbotron verify-email-container">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">Let us know if this is really your email address, to help us keep your account and website secure.</p>
            <hr class="my-4">
            <p>Confirm your email and let’s get started! </p>
            <p class="lead">
                <a class="btn btn-dark btn-lg" href="{{ verification_url }}">Confirm Email Now When?</a>
            </p>
        </div>
    </div>
</container>
{% endapply %}